<!DOCTYPE html>

{% load crispy_forms_tags %}

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>User Dashboard</title>
</head>


<body>


    <form method="post" action="{% url 'user:profile_view' %}">
        {% csrf_token %}
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-8">


                    <h1 class="mt-4" align="center">Hello {{ request.user }}</h1>
                    <br>
                    <h1 class="mt-4" align="center" id="notifications" ></h1>

                    <hr class="mt-4 mb-5">

                    <h4 class="mt-4" align="center">Edit your profile .</h4>


                    <hr class="mt-4 mb-5">

                    {{ form|crispy }}

                    <button type="submit" class="btn btn-success">Submit</button>

                </div>

            </div>
        </div>
    </form>


    <div class="container">
        <div class="row justify-content-center">
            <div class="col-8">
                <h1 class="mt-4" align="center">Products</h1>
                <hr class="mt-4 mb-5">
                <h4 class="mt-4" align="center">Look up your basket .</h4>
                <hr class="mt-4 mb-5">

                <div class="container">
                    {% for product in products %}
                        <h3>Product name : {{ product.name }}, Product price : {{ product.price }} USD
                        </h3>
                    {% endfor %}
                </div>

                <br><br><br>

            </div>

        </div>
    </div>


    <script>
        const notifySocketLink =  `ws://127.0.0.1:8000/ws/notification/`
        const notificationSocket = new WebSocket(notifySocketLink);
        notificationSocket.onmessage = function(e) {

            const data = JSON.parse(e.data);
            const notifyShowDiv = document.getElementById("notifications")
            notifyShowDiv.textContent = data.notification
            //gelen datani duzgun otuzdurmalisan notificationun icine.
            console.log(data)
        };
    </script>



    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>




</body>

</html>
